@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

body {
  background-color: #494444;
  margin: 0;
  padding: 20px 0;
  height: 95.5vh;
  width: 100%;
}

main {
  width: 50%;
  height: 95%;
  margin: auto;
  background-color: rgba(32, 32, 32, 0.597);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

main::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

main .header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 20px;
  flex-direction: row-reverse;
  margin: 0;
  height: 50px;
  font-family: "Playwrite VN", serif;
}

main .header h1 {
  margin: 0;
  font-weight: 900;
  color: #e9bc62;
}

main .header img {
  width: 120px;
  margin: 0;
}

main .tweet-area {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

main .tweet-area img {
  align-self: flex-start;
  width: 200px;
  margin-left: auto;
  filter: drop-shadow(5px -10px 30px rgba(241, 149, 12, 0.977));
}

main .tweet-area form {
  width: 60%;

  padding: 5%;
  display: flex;
  flex-direction: column;
}

main .tweet-area form textarea {
  border: none;
  border-top: 2px solid #a27d34ce;
  width: 100%;
  height: 150px;
  font-size: 15px;
  resize: none;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(38, 37, 37, 0.631);
  color: white;
}

main .tweet-area form textarea::placeholder {
  color: rgb(179, 176, 176);
}

main .tweet-area form textarea:focus {
  outline: none;
  border-top: #ff9500 3px solid;
  background-color: rgb(32, 32, 32);
  transition: all 0.1s ease;
}

main .tweet-area form button, .add-reply .rply-container form button {
  background-color: #f5af23;
  border: none;
  width: fit-content;
  padding-block: 13px;
  padding-inline: 43px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
  color: black;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #f5af23;
  transition: all 0.3s;
}

main .tweet-area form button:hover, .add-reply .rply-container form button:hover {
  background-color: rgba(32, 32, 32, 0.597);
  color: #ff9500;
  border: 2px solid #ff9500;
}

.feed {
  font-family: "Lato", serif;
  display: flex;
  flex-direction: column;
  width: 83%;
  padding: 5%;
  margin: auto;
  background-color: rgba(32, 32, 32, 0.328);
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

.feed .tweet {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-bottom: 2px solid #8d8b899b;
}

.feed .tweet .tweet-header,
.replies .reply .reply-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: larger;
  color: #f5af23;
  cursor: pointer;
  width: fit-content;
}

.feed .tweet .tweet-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.replies .reply img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feed .tweet .tweet-content {
  width: 80%;
  margin: auto;
  font-size: 18px;
  padding-top: 0;
}

.feed .tweet .tweet-content p,
.replies .reply .reply-content p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.feed .tweet .tweet-footer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 50px;
  padding: 10px;

  color: gray;
  align-self: center;
}

.feed .tweet .tweet-footer span {
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: all 0.3s;
}

.feed .tweet .tweet-footer i {
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f5af23b8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
}

.feed .tweet .tweet-footer .comment:hover .fa-comment {
  color: #00e1ff;
  background-color: rgba(35, 245, 203, 0.403);
}

span.comment:hover {
  color: #00e1ff;
}

.feed .tweet .tweet-footer .heart:hover .fa-heart {
  color: #ee00ff;
  background-color: rgba(243, 44, 226, 0.392);
}

.heart:hover {
  color: #ee00ff;
}

.feed .tweet .tweet-footer .liked .fa-heart, .liked {
  color: #ee00ff;
}

.feed .tweet .tweet-footer .retweeted .fa-retweet, .retweeted {
  color: #00ff00;
}
.feed .tweet .tweet-footer .shared .fa-share, .shared {
  color: #001eff;
}

.feed .tweet .tweet-footer .retweet:hover .fa-retweet {
  color: #00ff00;
  background-color: rgba(44, 243, 44, 0.408);
}

.retweet:hover {
  color: #00ff00;
}

.feed .tweet .tweet-footer .share:hover .fa-trash {
  color: #ff0000;
  background-color: rgba(243, 44, 44, 0.408);
}

.share:hover {
  color: #ff0000;
}

.feed .tweet .tweet-footer i {
  z-index: 1;
}

.replies {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

.replies .reply .reply-header {
  font-size: medium;
}

.replies .reply .reply-content {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  color: white;
}

.add-reply {
  position: absolute;
  height: 88.57%;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.947);
  z-index: 5;
  color: white;
  
}

.add-reply .rply-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.add-reply .rply-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-reply .rply-container form textarea {
  border: none;
  border-top: 2px solid #a27d34ce;
  width: 80%;
  height: 150px;
  font-size: 15px;
  resize: none;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(72, 71, 71, 0.444);
  color: white;
}

.add-reply .rply-container form textarea::placeholder {
  color: rgb(179, 176, 176);
}

.add-reply .rply-container form textarea:focus {
  outline: none;
  border-top: #ff9500 3px solid;
  background-color: rgba(64, 64, 64, 0.9);
  transition: all 0.1s ease;
}
.add-reply .rply-container form input{
  border: none;
  border-top: 2px solid #a27d34ce;
  width: 40%;
  margin-bottom: 20px;
  height: 40px;
  font-size: 17px ;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(72, 71, 71, 0.444);
  color: white;
}

.add-reply .rply-container form input::placeholder {
  color: rgb(179, 176, 176);
}

.add-reply .rply-container form input:focus {
  outline: none;
  border-top: #ff9500 3px solid;
  background-color: rgba(64, 64, 64, 0.9);
  transition: all 0.1s ease;
}


.add-reply .rply-container h3{
  font-size: 2rem;
  font-family: "Lato", serif;
  align-self: flex-start;
  margin-left: 10%;
}

.add-reply .rply-container h3 span{
  color: #f5af23;
  cursor: pointer;
}

.add-reply .rply-container .close{
  align-self: flex-end;
  margin-right: 10%;
  font-size: 1.5rem;
  background-color: rgba(163, 162, 162, 0.43);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.add-reply .rply-container .close:hover{
  background-color: rgba(163, 162, 162, 0.7);
  color: #f55423;
  transition: all 0.1s ease;

}


 


footer {
  text-align: center;
  background-color: #494444;
  color: white;
  margin-bottom: 0;
  margin-top: 20px;
}

footer a{
  color: #d5ac5b;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

footer a:hover{
  color: #ff9500;
}

footer a i{
  font-size: 1.5rem;
  margin: 0 20px;
}

@media screen and (max-width: 490px){
   feed{
    width: 100%
}
}

@media screen and (max-width: 1400px){
  main{
    width: 80%
}
  feed{
    width: 80%
}
   .add-reply {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 10px;
  }

 .feed {
    width: 80%;
  }

  main {
    width: 100%;
  }

  main .tweet-area img {
    display: none;
  }

  main .tweet-area form {
    width: 100%;
  }

  main .tweet-area form button {
    width: 100%;
  }

  .feed .tweet .tweet-footer {
    width: 100%;
  }

  .feed .tweet .tweet-footer i {
    width: 30px;
    height: 30px;
  }

  .feed .tweet .tweet-footer span {
    font-size: small;
  }

  .feed .tweet .tweet-content {
    font-size: 15px;
  }

  .feed .tweet .tweet-header img {
    width: 40px;
    height: 40px;
  }

  .replies .reply img {
    width: 30px;
    height: 30px;
  }

  .add-reply {
    width: 100%;
  }

  .add-reply .rply-container form textarea {
    width: 90%;
  }

  .add-reply .rply-container form input{
    width: 60%;
  }

  .add-reply .rply-container h3{
    font-size: 1.5rem;
  }

  .add-reply .rply-container .close{
    font-size: 1.2rem;
  }
}


